<!DOCTYPE html>
<html>
<head>
  <title>Experiencely</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    window.CLOUD_NAME = "<%= ENV["CLOUD_NAME"]  %>"
    window.UPLOAD_PRESET = "<%= ENV["UPLOAD_PRESET"] %>"
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG2l2ziqt1KssIGhqkaNGFJx-j4OS5dDs" type="text/javascript"</script>

  <% if current_user %>
    <script>
      window.CURRENT_USER_FNAME = "<%= current_user.first_name %>";
      window.CURRENT_USER_UNAME = "<%= current_user.user_name %>";
    </script>
  <% end %>
  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript">
</script>
</head>
<body>

<%= yield %>

</body>
</html>
