<!DOCTYPE html>
<html>
<head>
  <title>Experiencely</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script>
      window.CURRENT_USER = JSON.parse('<%= current_user.to_json(except: [:password_digest, :session_token]).html_safe %>');
    </script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
